<!DOCTYPE html>
<html>
<head>
    <title>Protected</title>
</head>
<body>
    <h1>Protected Resource</h1>
    <p>This page is only accessible to authenticated users.</p>
    <a href="/">Home</a><br>
    <a href="/logout">Logout</a>
</body>
</html>
